@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik:wght@300&display=swap');
:root {
    --nav-color: #ed4e51;
    --white-text: #ffff;
    --black-color: #000;
    --main-color-gray: #474747;
}

html,
body {
    margin: 0 auto;
    font-family: 'Roboto Mono', monospace;
    overflow-x: hidden;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: var(--nav-color);
    height: auto;
    width: auto;
    padding-bottom: 3px;
    align-items: center;
}

.navbar-brand {
    float: left;
    display: flex;
    align-items: center;
    font-size: 30px;
    text-decoration: none;
    color: var(--white-text);
}

.navbar-left {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    margin-left: 10px;
}

.navbar-nav {
    display: flex;
    list-style: none;
}

.nav-item {
    margin-right: 20px;
    border: none;
}

.nav-link {
    text-decoration: none;
    color: var(--white-text);
}

.nav-link {
    text-decoration: none;
    color: var(--white-text);
}

.search {
    font-size: 19px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    margin-right: 10px;
    background-color: var(--nav-color);
    border: var(--nav-color) solid;
    padding: 2px;
    border-radius: 8px;
    transition: 1s;
}

.search:hover {
    transition: 1s;
    background-color: var(--black-color);
    border: var(--black-color) solid;
    cursor: pointer;
}

.violet {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    margin-right: 13%;
    background: var(--nav-color);
    border-radius: 10%;
    margin-top: 15px;
    max-height: 529px;
    max-width: 345px;
    height: 20px 0px;
    transition: 1s;
}

.textbody {
    margin-left: 10%;
    font-size: 1.5em;
    margin-top: 5%;
}

.textbody ion-icon {
    display: flex;
}

.tire {
    font-size: 50px;
}

.anoncetext {
    color: var(--nav-color);
}

.line {
    padding: 10px;
    background: var(--nav-color);
    color: var(--nav-color);
    border-radius: 0px 0px 0px 0px;
    max-width: 30rem;
    position: relative;
    margin-left: 0;
    border: none;
}

.violettext {
    color: var(--black-color);
}

.serial {
    color: var(--main-color-gray);
}

.btn {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    background-color: #ed4e51;
    border: red;
    color: white;
    cursor: pointer;
}

.svg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.violet img {
    scale: 80%;
    transition: 200ms;
}

.violet:hover {
    padding-right: 200px;
    transition: 1s;
}

.violetdiscription {
    display: flex;
    opacity: 0;
    transition: 500ms;
    position: absolute;
    right: 0;
    text-align: right;
    font-size: 16px;
    color: var(--white-text);
}

.violetdiscription:hover {
    opacity: 1;
    transition: 500ms;
}

.margintextviolet {
    display: flex;
    position: absolute;
    margin-right: 15px;
    white-space: nowrap;
    margin-top: -200px;
    right: 0;
}

.continue {
    display: flex;
    margin-top: 15%;
    margin-left: 9.8%;
    align-items: center;
    vertical-align: middle;
    color: rgb(0, 0, 0);
}

.card {
    display: flex;
    margin-top: 2%;
    margin-left: 9.8%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 390px;
    height: 300px;
    border-radius: 5%;
    background-color: #000;
    background-size: 100%;
    background-position: center;
    background-repeat: space;
    color: white;
    transition: 400ms;
    cursor: pointer;
}

.violetc {
    display: flex;
    margin-top: 2%;
    margin-left: 9.8%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 390px;
    height: 300px;
    border-radius: 5%;
    background-color: #000;
    background-size: 100%;
    background-position: center;
    background-repeat: space;
    color: white;
    transition: 400ms;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.violetc:hover {
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
    transition: 400ms;
}

.yournamec:hover {
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
    transition: 400ms;
}

.yournamec {
    display: flex;
    margin-top: 2%;
    margin-left: 9.8%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 390px;
    height: 300px;
    border-radius: 5%;
    background-color: #000;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    transition: 400ms;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.romantic {
    display: flex;
    margin-top: 2%;
    margin-left: 9.8%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 390px;
    height: 300px;
    border-radius: 5%;
    background-image: url(/img/romantic.jpg);
    background-color: #000;
    background-size: 300%;
    background-position-y: -350px;
    background-repeat: no-repeat;
    color: white;
    transition: 400ms;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.romantic:hover {
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
    transition: 400ms;
}

.comic {
    display: flex;
    margin-top: 2%;
    margin-left: 9.8%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 390px;
    height: 300px;
    border-radius: 5%;
    background-image: url(/img/comic.jpeg);
    background-color: #000;
    background-size: 140%;
    background-position: center;
    background-repeat: space;
    color: white;
    transition: 400ms;
    cursor: pointer;
    transition: transform 0.3s ease;
}

footer {
    color: #ffffff;
    background-color: #161616;
    margin-top: 5%;
    padding: 0.1px;
}

.row {
    display: flex;
    justify-content: center;
}

.column a {
    text-decoration: none;
}

.column {
    display: grid;
    justify-content: center;
    justify-self: center;
}

.row ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.copyright {
    text-align: center;
    color: #fff;
}

.social-icons {
    font-size: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.social-icons a {
    color: white;
    margin: 10px;
}

.social-icons a:hover {
    color: rgb(132, 0, 255);
}

.social-icons li {
    margin-right: 10px;
}

.comic:hover {
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
    transition: 400ms;
}

.textanimeh4 {
    display: block;
    margin-top: auto;
    margin-left: 10px;
    opacity: 1;
    font-size: 15px;
    background-color: var(--nav-color);
    padding: 5px;
    border-radius: 5px;
}

.textanimejanrh4 {
    display: block;
    margin-top: auto;
    margin-left: 10px;
    opacity: 1;
    font-size: 15px;
    background-color: var(--nav-color);
    padding: 5px;
    border-radius: 5px;
    max-width: 310px;
}

.textanimeh3 {
    display: block;
    position: absolute;
    bottom: auto;
    margin-left: 10px;
    opacity: 1;
    font-size: 15px;
    background-color: var(--nav-color);
    padding: 5px;
    border-radius: 5px;
}

.card img {
    display: block;
    scale: 20%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.card:hover {
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
    transition: 400ms;
}

.block {
    background: rgb(255, 255, 255);
}

.ratedanimeblock {
    display: flex;
    flex-direction: row;
    position: relative;
    transition: transform 0.3s ease;
}

.icon {
    display: inline-block;
    align-items: center;
    vertical-align: middle;
}

.iconheader {
    display: flex;
    margin-left: 10px;
}

.ratedanime {
    display: flex;
    margin-top: 5%;
    margin-left: 9.8%;
    align-items: center;
    vertical-align: middle;
    color: rgb(0, 0, 0);
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
}

.populargenres {
    display: flex;
    margin-left: 9.8%;
    margin-top: 5%;
    align-items: center;
    vertical-align: middle;
    color: rgb(0, 0, 0);
}

@media (max-width: 768px) {
    .column {
        margin: 0.4rem 0;
        width: 100%;
        justify-content: center;
        padding: 0;
        margin-right: 40%;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .violet {
        display: none;
    }
    .line {
        max-width: 19rem;
    }
    .ratedanime {
        font-size: 12px;
    }
    .continue {
        font-size: 12px;
    }
    .card {
        width: 316px;
        height: 240px;
    }
    .yournamec {
        width: 316px;
        height: 240px;
    }
    .violetc {
        width: 316px;
        height: 240px;
        margin-top: 5%;
    }
    .romantic {
        width: 316px;
        height: 240px;
        background-size: 350%;
    }
    .textanimejanrh4 {
        max-width: 290px;
    }
    .comic {
        width: 316px;
        height: 240px;
        margin-top: 5%;
    }
    .populargenres {
        font-size: 12px;
    }
}

@media (max-width: 1366px) {
    .violet:hover {
        padding-right: 180px;
    }
    .violet {
        max-height: 510px;
    }
    .violet:hover img {
        margin-right: 30px;
    }
}

@media (max-width: 1280px) {
    .violet {
        display: none;
    }
}

@media (max-width: 1000px) {
    .ratedanimeblock {
        display: block;
        position: relative;
    }
}